<div class='row'>
  <div class='sourcesExtension form-group form-group-lg'>
    <%= f.label :extension %>
    <%= text_field_tag 'source[ext]', source.persisted? ? source.ext : '.md', class: 'form-control' %>
  </div>
</div>

<div class='row'>
  <div class='sourcesDescription form-group form-group-lg'>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
</div>

<div class='row'>
  <div class='sourceContents form-group form-group-lg'>
    <%= f.label :contents %>
    <%= render 'source_buttons' %>
    <%= text_area_tag 'source[contents]', source.persisted? ? source.contents.force_encoding('UTF-8') : '', class: 'form-control', rows: 8 %>
  </div>
</div>
